<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>283660792237-dv11vnq9tqpu5tnskro7ihc2n0mu43je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283660792237-dv11vnq9tqpu5tnskro7ihc2n0mu43je</string>
	<key>API_KEY</key>
	<string>AIzaSyAzO_9VlGTJL-BSjKG0pnq9lYtFNt3S4MY</string>
	<key>GCM_SENDER_ID</key>
	<string>283660792237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kiscosmos.tiengnhatcosmos</string>
	<key>PROJECT_ID</key>
	<string>kis-cosmos</string>
	<key>STORAGE_BUCKET</key>
	<string>kis-cosmos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:283660792237:ios:77b18e74f1b852d4</string>
	<key>DATABASE_URL</key>
	<string>https://kis-cosmos.firebaseio.com</string>
</dict>
</plist>